.vehiculos-cliente-container {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 4rem;
  color: #ffffff;
  background-color: #2a0000;
  overflow: hidden;
  height: 100vh;
}

.vehiculo-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.brand-line {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.brand-logo-vehiculo {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.brand-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.owner-details {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.owner-icon {
  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 50%;
  padding: 0.5rem;
  width: 50px;
  height: 50px;
}

.owner-name {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

.car-model {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
  opacity: 0.9;
}

.slider-content {
  position: relative;
  height: 310px;
  display: flex;
  align-items: center;
  gap: 2rem;
  z-index: 2;
}

.view-selector {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-button {
  max-width: 300px;
  min-width: 300px;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1rem;
  font-size: 0.9rem;
  text-align: left;
  color: #ffffff;
  background: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-button.active {
  font-weight: 800;
  background-color: #ff0000;
}

.hero-car-image {
  height: fit-content;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.hero-car-image img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.vehicle-card {
  position: absolute;
  top: 10%;
  right: 13%;
  width: 160px;
  height: 220px;
  padding: 1rem;
  color: #212529;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.vehicle-card-2 {
  position: absolute;
  top: 20%;
  right: -2%;
  width: 120px;
  height: 160px;
  padding: 1rem;
  color: #212529;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.vehicle-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.vehicle-card-image-main {
    width: 100%;
    padding-top: 1rem;
}

.slider-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.info-details {
  flex-grow: 1;
}

.historial-vehiculo-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(42, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 0;
  z-index: 100;
}

.vehiculos-cliente-container.history-visible .historial-vehiculo-container {
  visibility: visible;
  opacity: 1;
}
