.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: 'Inter';
  color: #fff;
  background:linear-gradient(180deg, #0b0000 40%, #1a0000 100% );
}

/* ---- FORMULARIO IZQUIERDO ---- */
.login {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 60px;
  background: linear-gradient(180deg, #0b0000 0%, #1a0000 100%);
  box-shadow: 2px 0 30px rgba(255, 0, 0, 0.2);
}

.login-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-logo img {
  width: 120px;
}

.login-title {
  margin: 0;
  font-family: "Playfair Display SC", serif;
  font-size: 26px;
  font-weight: 800;
  color: #fff;
}

.login-form-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.login-form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.login-form-group label {
  margin-bottom: 8px;
  font-size: 15px;
  color: #FF6767;
}

.login-input-box {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  background: rgba(255, 0, 0, 0.1);
  border: 1px solid rgba(255, 0, 0, 0.4);
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(255, 0, 0,0.25), inset 0 0 14px rgba(255, 36, 36,0.6);
  transition: all 0.3s ease;
}

.login-input-box:hover {
  border-color: rgba(255, 0, 0, 0.8);
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.3);
}

.login-input-box i {
  margin-right: 10px;
  color: #ff3333;
}

.login-input-box input {
  width: 100%;
  font-size: 15px;
  color: #fff;
  background: transparent;
  border: none;
  outline: none;
}

/* ---- OPCIONES ---- */
.login-options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  font-size: 14px;
}

.login-options label{
  font-size: 15px;
  font-weight: 500;
  color: #FF2F2F;
}

.login-options a {
  color: #FF0000;
  text-decoration: none;
}
.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  user-select: none;
  gap: 6px;
}

.checkbox-container input {
  display: none;
}

.checkmark {
  width: 18px;
  height: 18px;
  border: 2px solid #ff0000;
  border-radius: 4px;
  position: relative;
  transition: all 0.2s ease;
}

.checkbox-container input:checked + .checkmark {
  background-color: #ff0000;
  box-shadow: 0 0 6px #ff000088;
}

.checkmark::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.checkbox-container input:checked + .checkmark::after {
  opacity: 1;
}

.login-btn {
  width: fit-content;
  padding: 8px 28px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  background: linear-gradient(180deg, #7a0c0c 0%, #6b0101 100%);
  border: 1px solid #620002;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(255, 0, 0,0.25) ,inset 0 0 14px rgba(255, 44, 44,0.6);
  transition: all 0.3s ease;
  cursor: pointer;
}

.login-register-text {
  margin-top: 25px;
  font-size: 14px;
  color: #FFFFFF;
}

.login-register-link {
  text-decoration: none;
  font-weight: 500;
  color: #ff3333;
}

/* ---- FONDO DERECHA ---- */
.login-bg {
  width: 70%;
  position: relative;
  overflow: hidden;
}

.login-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(40%);
  box-shadow: 0 0 100px rgba(0, 0, 0,0.6);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(101, 0, 0,0.3);
  backdrop-filter: blur(10px);
}
